Source: zabbix-check-smart
Maintainer: Sebastian Huebner <shuebner@benhur.de>
Section: net
Priority: optional
Standards-Version: 3.8.4

Package: zabbix-check-smart
Architecture: all
Pre-Depends: sudo, zabbix-agent (>= 2.0)
Depends: ucf, lsb-base, python3, smartmontools
Description: SMART monitoring script for zabbix-agent
 Provides a script, to monitore the smart status of an hdd
 and make the data readable for zabbix-agent.
